* {
    box-sizing: border-box;
}

.left {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    border-right: solid 1px lightgray;
    left: 0;
    padding-bottom: 20px;
}

.right {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    right: 0;
    padding-bottom: 20px;
}

.centered {
    text-align: center;
}

/* Left Side */
.left-header {
    border-bottom: solid 1px lightgray;
    width: 40%;
    position: fixed;
    background-color: whitesmoke;
}

.left-options {
    width: 100%;
}

.question-bank {
    /*top: 170px;*/
    margin-top: 170px;
}

.question-bank .row {
    border: solid 1px lightgray;
    border-radius: 15px;
    margin-bottom: 40px;
}

.question-content {
    /*padding: 10px;*/
}

.question-content textarea {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn-add {
    float: right;
    border-bottom-right-radius: 15px;
}

/* Right Side */
.right-header {
    width: 100%;
    border: solid 1px lightgray;
    background-color: whitesmoke;
}

.right-header .row {

}

.exam-questions {
    margin-top: 100px;
}

.exam-questions .row {
    border: solid 1px lightgray;
    border-radius: 15px;
    margin-bottom: 40px;
}

.col {
    float: left;
}

.right-header {
    position: fixed;
}

.delete {
    text-align: center;
}

.exam-questions {
    padding: 20px;
}

.question-bank {
    padding: 10px;
}

.question-left {
    width: 3%;
    min-height: 200px;
    border-right: solid 1px lightgray;
    /*background: #939393;*/
}

.deleteBtn {
    border-top-left-radius: 15px;
}

.question-right {
    width: 97%;
}

.question-right textarea {
    border-top-right-radius: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.options {
}

.bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    min-height: 50px;
    /*min-height: 50px;*/
    /*padding: 20px;*/
}

.createExamBtn {
    float: right;
    height: 100%;
}

/* Modal used to add a question to the bank */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-add-btn {
    min-height: 20px;
    width: 100%;
}