* {
    box-sizing: border-box;
}

input {
    border: solid 1px gray;
    border-radius: 5px;
    text-align: center;
}

.left {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    border-right: solid 1px lightgray;
    left: 0;
    padding-bottom: 20px;
}

.right {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    right: 0;
    padding-bottom: 20px;
}

.centered {
    text-align: center;
}

.col {
    float: left;
}

.question-easy {
    background: #8AFF8A;
}

.question-medium {
    background: #FFEC8A;
}

.question-hard {
    background: #FF8A8A;
}

/* Left Side */
.left-header {
    border-bottom: solid 1px lightgray;
    width: 40%;
    position: fixed;
    box-shadow: 1px 1px lightgray;
    background: white;

}

.left-options {
    width: 100%;
    margin-top: 80px;
}

.question-bank {

}

.question-bank .row {
    border: solid 1px lightgray;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 5px lightgray;
}

.question-content {
    /*padding: 10px;*/
}

.question-content textarea {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn-add {
    min-height: 30px;
    min-width: 60px;
    float: right;
    border-bottom-right-radius: 15px;
    background-color: ghostwhite;
    border-color: whitesmoke;
    color: black;
}

.btn-add:hover {
    background: #497EFF;
    border-color: #497EFF;
    color: white;
}

.btnAddQuestionToBank {
    min-height: 30px;
    min-width: 100px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    background: white;
}

.btnAddQuestionToBank:hover {
    background: #497EFF;
    border-color: #497EFF;
    color: white;
}

.left .bottom-bar {
    width: 40%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    z-index: 2;
    text-align: center;
    min-height: 50px;
    border: solid 1px lightgray;
    background-color: #40434E;
}

/* Right Side */
.right-header {
    width: 100%;
    border: solid 1px lightgray;
    background-color: white;
}

.right-header .row {

}

.exam-questions {
    margin-top: 100px;
}

.exam-questions .row {
    border: solid 1px lightgray;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 5px lightgray;
}

.right-header {
    position: fixed;
}

.delete {
    text-align: center;
}

.exam-questions {
    padding: 20px;
}

.question-bank {
    padding: 10px;
}

.question-left {
    width: 3%;
    min-height: 200px;
    border-right: solid 1px lightgray;
}

.deleteBtn {
    border-top-left-radius: 15px;
}

.question-right {
    width: 97%;
}

.question-right textarea {
    border-top-right-radius: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.options {
}

.createExamBtn {
    float: right;
    min-height: 50px;
    font-size: 20px;
    border: 1px solid gray;
    background: white;
}

.createExamBtn:hover {
    background: #497EFF;
    border-color: #497EFF;
    color: white;
}

.right .bottom-bar {
    width: 60%;
    position: fixed;
    /*left: 0;*/
    bottom: 0;
    right: 0;
    /*padding: 10px;*/
    z-index: 2;
    text-align: center;
    min-height: 50px;
    border: solid 1px lightgray;
    background-color: #40434E;
}

/* Modal to show errors */
.modalError {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal used to add a question to the bank */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-add-btn {
    min-height: 20px;
    width: 100%;
}

