body {
    background-color: whitesmoke;
}

button {
    min-width: 100px;
    min-height: 50px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    border: solid 2px;
    border-color: gray;
}

button:hover {
    background-color: #497EFF;
    color: white;
    box-shadow: 0 3px lightgray;
}

button:active {
    background-color: #45484d;
}

.header {

}

.options-section {
    width: 100%;
}

.centered {
    text-align: center;
}

.options {

}