body {
    background-color: whitesmoke;
    margin-top: 100px;
}

button {
    min-width: 100px;
    min-height: 50px;
    background-color: white;
    margin-bottom: 10px;
    border: solid 2px;
    border-color: gray;
}

button:hover {
    background-color: #497EFF;
    color: white;
    box-shadow: 0 3px lightgray;
}

button:active {
    background-color: #45484d;
}

.navbar {
    width: 100%;
    position: fixed;
    box-shadow: 0 2px lightgray;
    min-height: 20px;
    background-color: white;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;

}

.navbar .btn {
    height: 100%;
    width: 50px;
}

.col {
    float: left;
}

.options-section {
    width: 100%;
}

.centered {
    text-align: center;
}

.options {

}