body {
    background: whitesmoke;
    margin: 0;
    /*background-color: whitesmoke;*/
    /*margin-top: 100px;*/
}

button {
    min-width: 100px;
    min-height: 50px;
    background-color: white;
    margin-bottom: 10px;
    border: solid 2px;
    border-color: gray;
    border-radius: 10px;
}

button:hover {
    background-color: #497EFF;
    color: white;
    box-shadow: 0 3px lightgray;
}

button:active {
    background-color: #45484d;
}

.logoutBtn {

}

.col {
    float: left;
}

.options-section {
    width: 100%;
}

.centered {
    text-align: center;
}

.options {

}