body {
    background: #f9f9f9;
    margin: 0;
}







.bottom-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    min-height: 40px;
    border: solid 1px lightgray;
    background-color: #40434E;
    padding: 10px;
}
