body {
    margin: 0;
}

input {
    border: solid 1px gray;
    border-radius: 5px;
    text-align: center;
}

:disabled {
    background: white;
}

.col {
    float: left;
}

/* For preview exam */
.row {
    border: solid 1px lightgray;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 5px lightgray;
    padding-right: 7px;
    padding-bottom: 10px;
    text-align: center;
}

.question-content textarea {
    border-radius: 15px;

}

.question-easy {
    background: #8AFF8A;
}

.question-medium {
    background: #FFEC8A;
}

.question-hard {
    background: #FF8A8A;
}

#exams-container {
    width: 80%;
    text-align: center;
    margin: auto;
}

.examDivParent {
    border: solid 1px lightgray;
    border-top: solid 10px #40434E;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
    margin: 50px;
    width: 300px;
    transition: all .2s ease-in-out;
}

.examDivParent:hover {
    cursor: pointer;
    box-shadow: 0 0 20px lightgray;
    transform: scale(1.1);

}

.header {
    color: #40434E;
    padding: 10px;
}

#divPubOrUnpub {
    height: 15px;
}

.divBody {
    color: #40434E;
    /*padding: 10px;*/
}

.btnPublish {
    font-size: 16px;
    width: 100%;
    border: solid 1px lightgray;
    background: white;
}

.btnPublish:hover {
    background: dodgerblue;
    color: white;
}

.btnRemove {
    font-size: 16px;
    width: 100%;
    border: solid 1px lightgray;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btnRemove:hover {
    background: indianred;
}

.published {
    background: mediumseagreen;
    color: white;
}
