body {
    margin: 0;
    text-align: center;
}

.col {
    float: left;
}

.container {
    width: 80%;
    margin: auto;
}

.examDivParent {
    border: solid 1px lightgray;
    border-top: solid 10px #40434E;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
    margin: 50px;
    width: 300px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.examDivParent:hover {
    box-shadow: 0px 0px 20px lightgray;
    transform: scale(1.1);
}

.header {
    color: #40434E;
    padding: 10px;
}

.divBody {
    color: #40434E;
}

.btnViewExam {
    font-size: 16px;
    height: 50px;
    width: 100%;
    border: solid 1px lightgray;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
}

.btnViewExam:hover {
    background: dodgerblue;
    color: white;
}


.bottom-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    min-height: 40px;
    border: solid 1px lightgray;
    background-color: #40434E;
    padding: 10px;
}
